[user]
	name = kraeml
	email = kraeml@sesamestreet.franken.de
[core]
    editor = vim
    # whitespace = off
    excludesfile = ~/.gitignore
[advice]
    # statusuoption = false
[color]
    ui = true
[push]
    default = current
